#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

li {
  list-style-type: none;
}

.user {
  /* text-align: right;
  font-size: 2em;
  margin-right: 0.1em; */
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.user_icon {
  font-size: 2em;
  margin-right: 0.1em;
}
