#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

li {
  list-style-type: none;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.user_icon {
  font-size: 2em;
  margin-right: 0.1em;
  margin: 0em 0.3em 0em 0.3em;
  line-height: 1.8;
}

.user_text {
  line-height: 2.7;
  font-weight: 600;
}

img {
  height: 3em;
}

.ant-menu-item-selected {
  background-color: red;
}
